<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ pageTitle }}</title>
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
        {{> header}}

        <div class="card color grow"></div>

        {{> footer}}
    </body>
</html>